* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
}

ul {
  list-style: none;
}

ul li {
  padding: 5px;
  background: #f4f4f4;
  margin: 5px 0;
}

header {
  background: #f4f4f4;
  padding: 1rem;
  text-align: center;
}

.container {
  margin: auto;
  width: 500px;
  overflow: auto;
  padding: 3rem 2rem;
}

#my-form {
  padding: 2rem;
  background: #f4f4f4;
}

#my-form label {
  display: block;
}

#my-form input[type="text"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.btn {
  display: block;
  width: 100%;
  padding: 10px 15px;
  border: 0;
  background: #333;
  color: #fff;
  border-radius: 5px;
  margin: 5px 0;
}

.btn:hover {
  background: #444;
}

.bg-dark {
  background: #333;
  color: #fff;
}

.error {
  background: orangered;
  color: #fff;
  padding: 5px;
  margin: 5px;
}

/* Numbers Facts */
.container {
  width: 500px;
  margin: 0 auto;
  background: rgb(16, 82, 223);
  margin-top: 2rem;
  color: #fff;
}
.number-facts {
  background: rgb(15, 15, 26);
}
.input__number {
  margin-top: 10px;
  padding: 12px 30px;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 7px;
}

.card__body{

}
#fact{
  display: none;
  margin-top: 10px;
}
.card__text {
  color: rgb(222, 225, 228);
}